.row
  .span12
    .page-header
      %h1 Websites
    = partial 'websites/table', :locals => {:websites => @websites}
    = link_to url(:websites, :new), :class => 'btn btn-primary' do
      %i.icon-plus-sign.icon-white
      Add Website
