.row
  .span12
    .page-header
      %h1 New Website
    - form_for @website, url(:websites, :create), :class => 'form-horizontal' do |f|
      = partial 'websites/form', :locals => {:f => f, :text => 'Create'}
