.row
  .span12
    .page-header
      %h1= @website.name
    %p= @website.desc
    %p= link_to @website.url, @website.url
    .btn-toolbar
      .btn-group
        %a.btn.btn-primary{:href => '#'}
          %i.icon-ok-circle.icon-white
          Request
      - if @website.account == current_account
        = link_to url(:websites, :edit, :id => @website.id), :class => 'btn' do
          %i.icon-edit
          Edit Website
