body { padding-top: 60px; background-color: #eee; }   
.question { padding-top: 18px; border-top: 1px solid #EEE; }
.question-toolbar { margin-bottom: 18px; }
.alchemr { background-color: #fff; border: 1px #ddd solid; padding: 20px; }
.options .input-append { display: block; margin-bottom: 18px; }