.modal-header
  %h1= h! @survey.name
- form_tag url(:api, :respond, :key => @website.key), :class => 'form-horizontal modal-form' do
  - field_set_tag do
    - @survey.questions.each do |question|
      = partial 'questions/show', :locals => {:question => question}
    = partial 'api/info'
.modal-footer
  = submit_tag 'Submit', :class => 'btn btn-primary'