.hero-unit
  %h1 Alchemr
  %p A new way to monetize the web
  %p= link_to 'Learn More&raquo;', url(:static, :faq), :class => 'btn btn-primary btn-large'
.row
  .span6
    %h2 Websites
    %p Websites can host surveys to earn money
    %p= link_to 'View Details', '#', :class => 'btn'
  .span6
    %h2 Surveys
    %p Survey makers can pay a small fee to have their survey distributed across the web
    %p= link_to 'View Details', '#', :class => 'btn'
    
