.row
  .span12
    .page-header
      %h1 Edit #{@survey.title}
    - form_for @survey, url(:surveys, :update, :id => @survey.id), :class => 'form-horizontal', :method => :put do |f|
      = partial 'surveys/form', :locals => {:f => f, :text => 'Update'}
