.row
  .span12
    .page-header
      %h1 Surveys
    = partial 'surveys/table', :locals => {:surveys => @surveys}
    = link_to url(:surveys, :new), :class => 'btn btn-primary' do
      %i.icon-plus-sign.icon-white
      Add Survey
