.row
  .span12
    .page-header
      %h1 New Survey
    - form_for @survey, url(:surveys, :create), :class => 'form-horizontal' do |f|
      = partial 'surveys/form', :locals => {:f => f, :text => 'Create'}
