.row
  .span12
    .page-header
      %h1= h! @survey.title
.row
  .span6
    - form_tag '#', :class => 'form-horizontal' do
      - field_set_tag do
        - @survey.questions.each do |question|
          = partial 'questions/show', :locals => {:question => question}
  .span6
    = partial 'common/stats', :locals => {:model => @survey}
