.row
  .span12
    = flash_tag(:success, :class => 'alert alert-success')
    = flash_tag(:error, :class => 'alert alert-error')
    = flash_tag(:notice, :class => 'alert alert-info')
    = flash_tag(:warning, :class => 'alert')
