!!!
%html
  %head
    %title Krater
    = stylesheet_link_tag 'bootstrap.min'
  %body
    = partial 'layouts/navbar'
    = yield
    = javascript_include_tag 'jquery', 'bootstrap.min', 'jquery-ujs', 'application'
