.row
  .span12
    .page-header
      %h1= h! @account.name
.row
  .span6
    %h2 Websites
    = partial 'websites/table', :locals => {:websites => @account.websites}
  .span6
    %h2 Surveys
    = partial 'surveys/table', :locals => {:surveys => @account.surveys}
